@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  --color-blue: #2B7FAD;
  --color-blue-light: rgba(43, 127, 173, 0.2);
  --color-yellow: #FFAB03;
  --color-yellow-light: rgba(255, 171, 3, 0.2);
  --color-green: #629B21;
  --color-green-light: rgba(98, 155, 33, 0.2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
  }
}

body {
  background: white;
  color: var(--foreground);
  font-family: Arial, sans-serif;
}
